.badge {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  color: white;
  font-weight: 600;
}
.badge-sm {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
}
